extends layout

block content
  header.headerContainer 
    h1= title + " " + api
    p Welcome to #{title}
  block section
    section
      h3 Usage
      p Retrive a full list of Polish profanity words
      pre
        code.link.get
          a(href="/api/profanity") https://wulgaryzmy-api.onrender.com/api/profanity
      p Example response:
      pre
        code.language-json
          | [
          |   "chuj",
          |   "chuja",
          |   "chujek",
          |   ...
          |  ]
      p Retrive a profanity word by typing a letter
      pre
        code.link.get
          a(href="/api/profanity/u") https://wulgaryzmy-api.onrender.com/api/profanity/"u"
      p Example response:
      pre
        code.language-json
          | [
          |   "udupić",
          |   "ujebac",
          |   "ujebal",
          |   ...
          |  ]
      p Retrive a random profanity word
      pre
        code.link.get
          a(href="/api/profanity/u") https://wulgaryzmy-api.onrender.com/api/profanity/random
      p Example response:
      pre
        code.language-json
          | {
          |   random: "ojebać"
          |  }
  footer
    small
      p Copyrights &copy; PMdev 2024
    small
      p Profanity The REST API is free and will be, but these services cost real $$$ to maintain, so I will be happy to be sponsored if you can patronize my site. Thank you, feel like you created it too!
      .link-box
        a(class="btn icons" href="https://github.com/Malzagic/wulgaryzmy-api" target="_blank")
          i.fab.fa-github
          span github
        a(class="btn icons" href="https://paypal.me/pmloczkowski?country.x=PL&locale.x=pl_PL" target="_blank")
          i.fab.fa-cc-paypal
          span donate
