extends layout

block content
  header.headerContainer 
    h1= title
    p Welcome to #{title}
  block section
    section
      h3 Usage
      p Retrive a full list of Polish profanity words
      pre
        code.link.get
          a(href="/api/profanity") https://wulgaryzmy-api.onrender.com/api/profanity
      p Example response:
      pre
        code.language-json
          | [
          |   "chuj",
          |   "chuja",
          |   "chujek",
          |   ...
          |  ]
      p Retrive a profanityw word by typing a letter
      pre
        code.link.get
          a(href="/api/profanity/u") https://wulgaryzmy-api.onrender.com/api/profanity/"u"
      p Example response:
      pre
        code.language-json
          | [
          |   "udupić",
          |   "ujebac",
          |   "ujebal",
          |   ...
          |  ]
