* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #eee;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
}

a {
  color: #00b7ff;
}

a.btn {
  text-decoration: none;
  color: #eee;
}

p {
  margin: 1rem 0;
}

header {
  margin: 2rem 0;
}

pre {
  margin: 1rem 0;
}

code {
  padding: 0.5rem;
}

code.link {
  border: 1px solid #ccc;
  border-radius: 5px;
}

code.get::before {
  content: "GET";
  color: #ff0051;
  margin-right: 0.45rem;
}

small {
  text-align: center;
}

i { 
  color: #eee;
}

span {
  font-size: 12px;
}

footer {
  padding: 1rem 0;
}

.btn {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 5px;
  margin: 0 1rem;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
  transition: all .3s ease-in-out;
}
.btn.icons {
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.75;
}

.wrapper {
  margin: 0 auto;
  max-width: 600px;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-box {
  display: flex;
  justify-content: center;
  align-items: center;
}